__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.DS_Store
Thumbs.db
data/estoque_atual.json
data/users.db
data/pedidos.db
*.xlsx
!data/EstoqueFarmacia-exemplo.xlsx
.idea/
.vscode/

data/estoque_cc.json
data/estoque_ufcd.json
